body {
    font-family: Arial, sans-serif;
    background-color: #DFD0B8;
    margin: 0;
}

nav {
    background-color: #153448;
    color: #fff;
    padding: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.page {
    padding: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

li:hover {
    background-color: #3C5B6F;
}
